/* Customs calculator */
.calculator {
	width: 55%;
	min-width: 320px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 80px;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.calculator .nav-tabs>li>a {
    border: none;
    outline: none;
    background-color: #b9b9c8;
    margin: 0;
    padding: 10px 15px;
}



.calculator .nav-tabs>li.active>a {
    background-color: #dbdbea;
    border-top: none;
}



.custom-calc{
    padding: 20px 50px 0;
	display: flex;
	flex-direction: column;

    background-color: #dbdbea;
    color : #000;
}


.custom-calc > div{
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.custom-calc .resultBlock{
	display: none;
}

.custom-calc h5{
	margin-right: 20px; 
}

.custom-calc .form-control{
	border: 1px solid black;
}

.custom-calc input.form-control{
	width: 45%;
	margin-right: 15px;
}

.custom-calc select.form-control{
	width: 80px;
}

.buttonBlock{
	margin-bottom: 20px !important;
}

.buttonBlock button{
	background-color: #7C0000;
	color: white;
	font-weight: bold;
	font-size: 16px;
	margin-left: 14%;
	height: 40px;
	width: 140px;
	border-radius: 5px;
}

.price-row_bold{
	font-weight: bold;
	font-size: 17px;
}

.nav-tabs{
	display: flex;

	border: none !important;
	list-style: none;
	margin: 0;
	padding: 0; 
}

.nav-tabs li{
	width: 147px;
	height: 81px;
	padding: 0;
	margin: 0;
	margin-right: 5px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #b9b9c8;
}

.nav-tabs li:last-child{
	margin-right: 0;
}

.nav-tabs > li.active{
	background-color: #dbdbea;
}

.nav-tabs > li > a {
    margin-right: 3px;
    line-height: 1.42857143;
    border-top: solid 2px white;
    border-radius: 0px;
    background: none;
    color: black;
    font-weight: bold;
}

.nav > li > a:hover {
    text-decoration: none;
    background-color: white;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: black;
    cursor: default;
}

@media (max-width: 650px){

	.custom-calc{
		padding: 15px 15px 0;
	}

}