/* Customs calculator */
.calculator {

}

.calculator .nav-tabs li{
    background-color: #b9b9c8;
    padding: 0;
    margin: 0;
}

.calculator .nav-tabs>li>a {
    border: none;
    outline: none;
    background-color: #b9b9c8;
    margin: 0;
    padding: 10px 15px;
}



.calculator .nav-tabs>li.active>a {
    background-color: #dbdbea;
    border-top: none;
}



.custom-calc{
    padding: 20px 10px;
    background-color: #dbdbea;
    color : #000;

}


.custom-calc__input {

}

.sale_date {

}